.profile__strength{
    margin: 10px;
    margin-bottom: 30px;
}

.title{
    display: flex;
}
.title > h2{
    flex: 1;
}

.title > span{

    cursor: pointer;
}

.width{
    height: 5px;
    background-color: green;
    width: 100%;
    margin-top: 20px;
}

.place{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons{
    display: flex;
    justify-content: flex-end;
}