.body{
    display: flex;
    width: 80%;
    margin: 10px auto;
    margin-top: 60px;
}

.leftbar{
    flex: 0.25;
}

.middle{
    flex: 0.5;
}

.rightbar{
    flex: 0.25;
}

.message{
    position: fixed;
    bottom: 0;
    right: 10px;
}