.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    height: 53px;

}

.logoInput{
    display: flex;
    align-items: center;
    height: 100%;
}

.logoInput img{
    height: 80%;
    width: 60px;
    margin-left: 0;

}

.logoInput input {
    margin-left: 5px;
    height: 30px;
    width: 280px;
}

.header h1{
    margin: 0;
}



.nav{
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav p {
    margin: 0 4px;
    font-size: 10px;
}

.element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40px;
}

.user{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

.dialog{
    position: fixed;
    left: 20%;
    top: 40%;
}

