.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:  20px 5px;
    width: 95%;
    margin: 1px auto;
}

.avatar__and__input{
    display: flex;
    width: 100%;
}

.avatar{
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: blue;
}

.avatar__and__input input{
    flex: 1;
    border-radius: 20px;
    padding: 5px;
    background-color:  #ebebeb;
}

.avatar__and__input input:focus{
    outline: none;
}



/* // icoons */

.post__icons{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    
}

.one__icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 60px;
    color: green;

}

p{
    margin: 0;
    font-size: 12px;
}